@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  padding: 35px;
  background: rgb(243, 243, 243);
  color: #131313;
  font-family: "Montserrat", sans-serif;
}
label{}
#topLine{display: flex;flex-direction:row;margin-bottom:75px ;margin-inline:5px ;}
#focusTime{width: 50px;height: 42px;}
#inps{display:flex;flex-direction: column;width: 200px;}
.score{}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
}



button {
  
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}


#saveBtn {
  background: rgb(25, 67, 255);
  width: auto;
  height: auto;
 
  color: white;
}


#btn-log{padding: none ;margin:none;text-shadow: #131313;}











.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 20px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}



.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}






@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "head head"
      "clock form"
      "btns ji";
  }
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
  .clock {
    grid-area: clock;
    height: 100%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
  }

}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }
}
