table {
  border-collapse: collapse;
}

td {
  border: solid 3px black;
  letter-spacing: 1px;
}

#outputs,
#outputs2,#outputs3 {
  display: inline-block;
  margin-inline: 0px;
}

#outputs {
  font-weight: bold;
}

input {
  width: 7%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

  #tab2 td:nth-child(1){border: none;padding-right: 5px;}
  .new-cell{
  background-color: white;margin-left: 50px;width: 50px;}