
#tab1 td:nth-child(2) {border-collapse: separate;
  border: solid red;
  
}





/* General Table Styling */
#tab1,#tab2 {
border-collapse: collapse;
  user-select: none; /* Prevents text selection */
}

td {
  border: solid 3px black; /* Ensure all cells have consistent borders */
  letter-spacing: 1px;
}

#outputs,
#outputs2 {
  display: inline-block;
}

#outputs {
  font-weight: bold;
}

input {
  width: 7%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

#tab2 td:nth-child(1) {
  border: none;
  padding-right: 5px;
}

/* New Cell Styling */
.new-cell {
  background-color: white; /* Highlight for clarity */
  width: 50px;
  transition: transform 0.5s ease-out; /* Smooth animation for transformations */
}


html body section.hero div.container div.hero-content div#outputs2 table#tab1 tbody tr td.new-cell{border-collapse:separate}